.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  color: grey;
  cursor: pointer;
}

.headerOption:hover {
  color: black;
}

.headerOptionIcon {
  object-fit: contain;
  height: 25px !important;
  width: 25px !important;
}
.headerOptionTitle {
  font-size: 14px;
  font-weight: 400;
}
